* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-mid: 12px;
  --spacing-lg: 16px;
  --spacing-xl: 20px;
  --spacing-xxl: 24px;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
